ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 40px;
}

.post {
    padding: 10px 0;
}

.post-title {
    display: block;
    font-size: 1.4em;
    font-weight: 600;
}

.post-description {
    display: block;
    font-size: 1.2em;
}

.post-tags {
    font-size: 0.8em;
}