---
title: Shurgu.net - TO BETTER ME
layout: default
---
<ul>
    {% for post in site.posts %}
        <li>
            <div class="post">
                <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
                {% if post.description %}
                <span class="post-description">{{ post.description | strip_html }}</span>
                {% else %}
                <span class="post-description">{{ post.excerpt | strip_html }}</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>