---
title: Shurgu.net - TO BETTER ME
layout: default
---
<ul>
    {% assign projects = site.pages | where: "layout", "project" %}
    {% for project in projects %}
    <li>
        <div class="post">
            <a class="post-title" href="{{ project.url }}">{{ project.title }}</a>
            <span class="post-description">{{ project.description }}</span>
            <span class="post-tags">
                {% for tag in project.tags %}
                {{ tag }}
                {% endfor %}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>